[defaults]
host_key_checking = False
retry_files_enabled = False
no_target_syslog = False
env = PYTHONWARNINGS=ignore::FutureWarning
collections_scan_sys_path = false
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
[libssh_connection]
publickey_algorithms = ssh-rsa
