<!–– INTERNAL TABLE FOR BGP --!>
<div class="expand">
  <p class="expandclass">> BGP Global Info</p>
</div>
<div class="content">
{% if hostvars[network_switch]['ansible_network_resources']['bgp_global'] is defined and hostvars[network_switch]['ansible_network_resources']['bgp_global'].keys()|length > 0 %}
<table id="subtable">
    <thead>
        <tr>
            <th>ASN</th>
            <th>Router ID</th>
        </tr>
    </thead>
    <tbody>
{% for bgpinfo in hostvars[network_switch]['ansible_network_resources']['bgp_global'] %}
        <tr>
            <td>{{bgpinfo['as_number']}}</td>
            <td>{{bgpinfo['router_id']|default("Not Configured")}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% elif hostvars[network_switch]['ansible_network_resources']['bgp_global'] is defined and hostvars[network_switch]['ansible_network_resources']['bgp_global'].keys()|length == 0 %}
BGP is not configured on this device
{% else %}
No BGP information available
{% endif %}
</div>
</div>
<!–– END INTERNAL TABLE FOR BGP --!>
