<!–– INTERNAL TABLE FOR INTERFACES --!>
<div class="expand">
  <p class="expandclass">> Interfaces - MTU/Duplex/Speed</p>
</div>
<div class="content">
<table id="subtable">
    <thead>
        <tr>
            <th>Interface Name</th>
            <th>Description</th>
            <th>Duplex</th>
            <th>Enabled</th>
            <th>MTU</th>
            <th>Speed</th>
        </tr>
    </thead>
    <tbody>
{% if hostvars[network_switch]['ansible_network_resources']['interfaces'] is defined %}
{% for interface in hostvars[network_switch]['ansible_network_resources']['interfaces'] %}
        <tr>
            <td>{{interface['name']}}</td>
            <td>{{interface['description']|default("none")}}</td>
            <td>{{interface['duplex']|default("default")}}</td>
            <td>{{interface['enabled']}}</td>
            <td>{{interface['mtu']|default("default")}}</td>
            <td>{{interface['speed']|default("default")}}</td>
        </tr>
{% endfor %}
{% endif %}
    </tbody>
</table>
</div>
</div>
<!–– END INTERNAL TABLE FOR INTERFACES --!>
