<!–– INTERNAL TABLE FOR LACP --!>
<div class="expand">
  <p class="expandclass">> LACP</p>
</div>
<div class="content">
{% if hostvars[network_switch]['ansible_network_resources']['lacp'] is defined and hostvars[network_switch]['ansible_network_resources']['lacp'].keys()|length > 0  %}
<table id="subtable">
    <thead>
        <tr>
            <th>System Priority</th>
        </tr>
    </thead>
    <tbody>
{% for property in hostvars[network_switch]['ansible_network_resources']['lacp'] %}
        <tr>
            <td>{{property['system']['priority']}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
No LACP info available
{% endif %}
</div>
</div>
<!–– END INTERNAL TABLE FOR LACP --!>
