<!–– INTERNAL TABLE FOR LACP --!>
<div class="expand">
  <p class="expandclass">>LACP</p>
</div>
<div class="content">
<table id="subtable">
    <thead>
        <tr>
            <th>System Priority</th>
        </tr>
    </thead>
    <tbody>
{% if hostvars[network_switch]['ansible_network_resources']['lacp'] is defined and hostvars[network_switch]['ansible_network_resources']['lacp'].keys()|length > 0  %}
{% for property in hostvars[network_switch]['ansible_network_resources']['lacp'] %}
        <tr>
            <td>{{property['system']['priority']}}</td>
        </tr>
{% endfor %}
{% elif hostvars[network_switch]['ansible_network_resources']['lacp'].keys()|length == 0 %}
No LACP is configured on this device
{% else %}
LACP was not gathered for this network device
{% endif %}
    </tbody>
</table>
</div>
</div>
<!–– END INTERNAL TABLE FOR LACP --!>
