<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>
<body>
<center>
<h1>Ansible Network Automation Example Report</h1>
</center>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Transport</th>
            <th>Platform</th>
            <th>Serial Number</th>
            <th>Code Version</th>
        </tr>
    </thead>
    <tbody>
{% for network_switch in groups['routers']|sort %}
        <tr>
            <td>{{hostvars[network_switch]['ansible_net_hostname']}}</td>
            <td>{{hostvars[network_switch]['ansible_net_api']}}</td>
            <td>{{hostvars[network_switch]['ansible_net_system']}}</td>
            <td>{{hostvars[network_switch]['ansible_net_serialnum']}}</td>
            <td>{{hostvars[network_switch]['ansible_net_version']}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
<center><p>Created with</p><br><img src="webpage_logo.png" width="300"></center>

</body>
</html>
