<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$("document").ready(function(){
  $click =  $('.studentinfo');   // Click selector


  $click.click(function () {

    $clicked = $(this);
    $expand = $(this).parent('.expand').next();  // Expand and collapse content selector

        //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
        $expand.slideToggle(500, function () {
            //execute this after slideToggle is done
            //change text of expand based on visibility of content div
        });

    });
});
</script>
</head>
<body>
<center>
<h1>Ansible Network Automation Example Report</h1>
</center>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Transport</th>
            <th>Platform</th>
            <th>Serial Number</th>
            <th>Code Version</th>
        </tr>
    </thead>
    <tbody>
{% for network_switch in groups['routers']|sort %}
        <tr>
            <td>{{hostvars[network_switch]['ansible_net_hostname']}}
 <!–– INTERNAL TABLE FOR INTERFACES --!>
<div class="expand">

  <p class="studentinfo">Interfaces Facts - Click to see details</p>
</div>
<div class="content">
<table id="subtable">
    <thead>
        <tr>
            <th>Interface Name</th>
            <th>Description</th>
            <th>Duplex</th>
            <th>Enabled</th>
            <th>MTU</th>
            <th>speed</th>
        </tr>
    </thead>
    <tbody>
{% if hostvars[network_switch]['ansible_network_resources']['interfaces'] is defined %}
{% for interface in hostvars[network_switch]['ansible_network_resources']['interfaces'] %}
        <tr>
            <td>{{interface['name']}}</td>
            <td>{% if interface['description'] is defined %} {{interface['description']}} {% endif %}</td>
            <td>{{interface['duplex']|default("")}}</td>
            <td>{{interface['enabled']}}</td>
            <td>{{interface['mtu']|default("")}}</td>
            <td>{{interface['speed']|default("")}}</td>
        </tr>
{% endfor %}
{% endif %}
    </tbody>
</table>
</div>
</div>
 <!–– END INTERNAL TABLE FOR INTERFACES --!>
            </td>
            <td>{{hostvars[network_switch]['ansible_net_api']}}</td>
            <td>{{hostvars[network_switch]['ansible_net_system']}}</td>
            <td>{{hostvars[network_switch]['ansible_net_serialnum']}}</td>
            <td>{{hostvars[network_switch]['ansible_net_version']}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
<center><p>Created with</p><br><img src="webpage_logo.png" width="300"></center>

</body>
</html>
