- name: ensuire netconf is running
  vars:
    ansible_connection: network_cli
  junos_netconf:

- name: backup junos configuration
  vars:
    ansible_connection: netconf
  junos_config:
    backup: true
  register: config_output
